.buttonWrapper {
  height: 47px;
  width: 100%;

  .button {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border-color: #e48d0f;
    background: #e48d0f;
    border-style: solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 5px;
    outline: none;
    .text {
      height: 19px;
      font-family: Muli;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
    }
    img{
      height: 100%;
      margin-bottom: 7px;
    }
  }
  .button:active {
    box-shadow: #e48d0f;
    // transform: scale(0.997);
  }
  .button:hover {
    border: 1px solid #e48d0f;
    background: transparent;
    .text {
      color: #e48d0f;
    }
  }
}
