.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 50px;
  height: 80px;
  .leftWrapper {
    width: 30%;
    .leftContainer {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      .logo {
        width: 50%;
        height: 50%;
      }
      .logo:hover {
        cursor: pointer;
      }
      .leftMenuWrapper {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-evenly;

        .menuItem {
          font-family: Lato;
          font-weight: normal;
          font-size: 20px;
          line-height: 25px;
          text-align: left;
          color: white;
          opacity: 0.6;
          padding: 0px;
        }
      }
      .leftMenuWrapper :hover {
        color: rgb(157, 198, 252);
        cursor: pointer;
      }
    }
  }
  .rightWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 23%;
    padding: 0px;
    .buttonWrapper {
      height: 35px;
      width: 120px;
      .button {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        border: none;
        background: #7137f9;
        cursor: pointer;
      }
      .button:active {
        box-shadow: 0px 2px 4px rgb(77, 97, 126);
        transform: scale(0.997);
      }
      .button:hover {
        border-color: #7137f9;
        background: transparent;
        border-style: solid;
      }
      .text {
        height: 19px;
        font-family: SFUIText;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 50px 0px;
    width: 70%;
    height: auto;
    margin: auto;
    .leftWrapper {
      width: 100%;
      .leftContainer {
        flex-direction: column;
        .logo {
          width: 50%;
          height: 50%;
        }
        .logo:hover {
          cursor: pointer;
        }
        .leftMenuWrapper {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: space-evenly;

          .menuItem {
            padding: 10px 0px;
          }
        }
        .leftMenuWrapper :hover {
          color: rgb(157, 198, 252);
          cursor: pointer;
        }
      }
    }
    .rightWrapper {
      justify-content: space-around;
      width: 70%;
     
      .buttonWrapper {
        height: 40px;
        width: 150px;
      }
    }
  }
 }

@media (max-width: 710px) {
  .container {
    width: 100%;
    .rightWrapper {
      padding-top: 20px;
      width: 70%;
    }

  }
}
@media (max-width: 510px) {
  .container {
    width: 100%;
    .rightWrapper {
      width: 100%;
    }

  }
}
